@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Signika:wght@300..700&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    min-width: 599px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --color-yellow: #FDC913;
    --color-lightGray: #5F5F5F;
    --color-darkGrey: #1A1A1A;
    --color-red: #CE2829;
    --color-bej: #FAF7F2;
    --font-Roboto-Condensed: "Roboto+Condensed", sans-serif;
    --font-Barlow: "Barlow", sans-serif;
    --font-Quattrocento: "Quattrocento", sans-serif;
    --font-Satisfy: "Satisfy", sans-serif;
}

*{border: 1px purple solid;}
.homePageHeader{
    background-image: url("public/homepage/home-banner.png");
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 100rem;
}
.home{
    margin-top: 1rem;
    width: 60vw;
    min-height: 40vh;
    
}
.text{
    font-family: var(--font-Barlow);
    color: var(--color-bej);
    font-size: 4rem;
    line-height: 1.3em;
    
}
.aciktimButton{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-darkGrey);
    border-radius: 1rem;
    font-family: var(--font-Barlow);
    width: 10rem;
}
.menuButton{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-darkGrey);
    font-family: var(--font-Barlow);
    width: 10rem;
    display: flex;
    align-items: center;
    margin: .5rem 0;
}
.menuButton img{
    margin-right: .5rem;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spaceBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .displayCol{
    display: flex;
    flex-direction: column;
 }
.flexStart{
    display: flex;
    align-items: flex-start;
}
.menuDiv{
    margin:2rem ;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
}
.bigCard{
    background-image: url("public/products/cta/kart-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 25vh;
    margin: 2rem;
    border-radius: 1rem;
}
.bigCard h1{
    margin: 1rem;
    font-family: var(--font-Quattrocento);
    color: white;
    font-size: 2.4rem;
    width: 10rem;
    font-weight: 600;
}
.bigCard p{
    margin-left: 1rem;
    color: white;
    font-family: var(--font-Barlow);
}
.pizzaOrderButton{
    background-color: white !important ;
    color: var(--color-red) !important;
    font-family: var(--font-Barlow);
    width: 10rem;
    border-radius: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}
.lowCard{
    background-image: url("public/products/cta/kart-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 20vh;
    margin-bottom: 1.5rem ;
    border-radius: 1rem;
}
.lowCard h1{
    margin: 1rem;
    font-family: var(--font-Barlow);
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    font-weight: 500;
}
.lowCard h1 span{
    color: var(--color-red);
}
.lowCard2{
    background-image: url("public/products/cta/kart-3.png");
}
.darkg{
    color: var(--color-darkGrey) !important;
}
